@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error_text {
  @apply text-red-500 font-normal text-sm
}

.input_field{
  @apply border border-gray-300 rounded-md px-3 py-2 w-full font-normal text-black
}